// Override default variables before the import
$body-bg: #000;
$enable-gradients: true;

$colors: (
    "nav-color": rgba(13, 14, 13, 1),
    "header-color": rgba(40, 44, 52, 0.459),
    "lime-green-text": rgb(24, 71, 24),
    "navbar-emoji-bg": rgba(52, 58, 64, 1),
);

.card {
    //border-radius: 20px;
    //border: 1px solid var(--text-primary);
    position: relative;
    margin: 25px;
    height: 460px;
    flex: 0 0 30%;
    max-width: 30%;
    box-shadow: 10px 10px 20px 4px rgba(15, 15, 15, 0.45);
}



// Import Bootstrap and its default variables
// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');

// Small Devices
// @media (max-width: 600px) {
//     nav {
//         height: 80rem;
//     }
// }

// //Large Devices
// @media (min-width: 600px) {
//     nav {
//         height: 30rem;
//     }
// }

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
    
#content {
    display: flex;
    justify-content: center;
}
    
#header {
    height: 5rem;
    background-color: white;
    color: var(--text-primary);
}

#header ul, li {
    margin: 0;
    padding: 0;
    font-family: "Share Tech", sans-serif;
}

#header ul {
    padding: 25px;
    position: absolute;
    top: 70px;
    width: 230px;
}

#header li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#body {
    margin-top: 5rem;
}

#frontpage {
    // position: relative;
    justify-content: left;
    text-align: left;
    height: 95vh;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

#frontpage p {
    text-align: left;
    position: relative;
    top: 25vh;
    left: 0.2rem;
    margin: 0px;
    font-size: clamp(15px, 1.7vw, 30px);
    max-width: 50rem;
}

#frontpage h1 {
    position: relative;
    top: 25vh;
    color: #66c4e8;
    font-size: clamp(40px, 8vw, 80px);
    margin: 0px;
}

#frontpage a {
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
    line-height: 1;
    border: 2px solid var(--text-primary);
    padding-top: 1.25rem;
    padding-right: 1.75rem;
    padding-bottom: 1.25rem;
    padding-left: 1.75rem;
    position: relative;
    left: 0.2rem;
    top: 25vh;
    color: var(--text-secondary);
    border-radius: 5px;
    font-size: clamp(16px, 2vw, 30px);
    transform: background-color 0.4 ease;
}

#frontpage a:hover{
    background-color: #66c3e873;
}

#frontpage h3 {
}

#aboutme {
    justify-content: left;
    text-align: left;
    //width: 100vw;
    vertical-align: center;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    height: 95vh;
}
#tech-about-me {
    margin-top: 40px;
}
h1 {
    color: var(--text-primary);
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: clamp(30px, 6vw, 60px);
}

h2 {
    font-size: clamp(20px, 3vw, 45px);
}

hr {
    border: 1px solid rgb(190, 232, 238);
    margin-bottom: 20px;
}

#aboutme p {
    color:black;
    font-size: large;
    text-align: left;
    font-size: clamp(15px, 1.4vw, 23px);
}
#aboutme img {
    margin-bottom: 20px;
    border: 4px solid var(--text-primary);
}
#aboutme h5 {
    color: #66c4e8;
    margin: 0px;
    padding-top: 10px;
    font-size: clamp(20px, 2vw, 40px);
    margin-bottom: 5px;
}
#aboutme ul {
    position: relative;
    top: 0px;
    padding-left: 0;
    list-style-type: none;
    
}
#aboutme ul li {
    margin: 0px;
    text-align: left;
    vertical-align: center;
    font-size: clamp(15px, 1.5vw, 25px);
}
#aboutme ul li:before {
    color: var(--text-primary);
    font-family: "Material Icons";
    font-size: clamp(15px, 1.5vw, 25px);
    content: "done";
}

#cardlist {
    height: 95vh;
    justify-content: left;
    text-align: left;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    // flex: 1 1 100%;
}
#cardlist ul, li {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

.background {
    position: absolute;
    border-radius: 15px;
    border-top-left-radius: 0px;
    left: 0;
    bottom: 0;
    width: 15rem;
    background-color: white;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 20px 4px rgba(15, 15, 15, 0.45);
    transition: top 0.6s, box-shadow 0.6s;
    z-index: 5;
}

.navbar-hidden {
    top: -5rem;
    box-shadow: 0px 0px 0px 0px rgba(15, 15, 15, 0.45);
}

.light-gray-desc {
    color: #ada9a9
}

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oxygen', sans-serif;
    --text-primary: #66c4e8;
    --text-secondary: #ada9a9;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: white;
}
body::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

nav {
    position: absolute;
    width: 15rem;
    top: 0px;
    left: 0;
}

button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 22px;
    left: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}

.icon-placeholder {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
    background: white;
}

.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
    justify-content: center;
    vertical-align: auto;
    text-align: center;
    background: white;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span.emoji {
    font-size: 30px;
    vertical-align: middle;
    line-height: 2.35;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
a.nav-link {
    padding: 4px;
}

li p {
    color: black;
    padding: 0px 0px 10px 0px;
    margin: 0;
    position: relative;
    bottom: 4px;
}

.between-emoji {
    margin-bottom: 5px;
}