// Override default variables before the import
$body-bg: #000;
$enable-gradients: true;

$colors: (
    "nav-color": rgba(13, 14, 13, 1),
    "header-color": rgba(40, 44, 52, 0.459),
    "lime-green-text": rgb(24, 71, 24),
    "navbar-emoji-bg": rgba(52, 58, 64, 1),
);



// Import Bootstrap and its default variables
// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media (max-width: 800px) {
    nav {
        height: 80%;
    }
  }
#root {
    width: 100%;
    height: 100%;
}

#header {
    margin: auto;
    justify-content: center;
    background-color: #66c4e8;
    //background: linear-gradient(180deg, #66c4e8 60%, rgb(237, 241, 241) 100%);
    height: 100px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: "Share Tech", sans-serif;
    box-shadow: 4px 4px 20px 4px rgba(15, 15, 15, 0.45);
}

#header h1 {
    position: relative;
    top: 10px;
    //font-size: 5vw;
    // border-radius: 5px;
    // border: 5px solid #154c94;
}

#aboutme {
    text-align: center;
    font-family: "Share Tech", sans-serif;
    position: relative;
    top: 20px;
    border-radius: 20px;
    border: 0px solid #4c4d4e;
    background-color: white;
    //background: linear-gradient(90deg, #66c4e8 25%, rgb(237, 241, 241) 100%,);
    box-shadow: 8px 8px 20px 8px rgba(26, 27, 26, 0.2);
    height: auto;
}

h2 {
    color: #66c4e8;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
}

hr {
    border: 1px solid rgb(190, 232, 238);
}

#aboutme p {
    color:black;
}
#aboutme h5 {
    color: #66c4e8;
    margin: 0px;
    padding-top: 10px;
}
#aboutme ul {
    position: relative;
    //left: 50px;
    top: 0px;
    padding-left: 2rem;
    list-style-type: none;
    
}
#aboutme ul li{
    margin: 0px;
    
}
#aboutme ul li:before {
    color:#66c4e8;
    font-family: "Material Icons";
    content: "done";
}


// #content {
//     display: flex;
//     width: 100vw;
//     height: 100vh;
//  }

.jumbotron {
    background-color: color("header-color");
    color: color("lime-green-text");
    font-family: "Share Tech", sans-serif;
    margin: 0px;
}

.force-front-1 {
    z-index: 99;
}
.force-front-2 {
    z-index: 50;
}
.force-front-3 {
    z-index: 25;
}
.force-back {
    z-index: -20;
}

html, body {
    margin: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    //background: linear-gradient(180deg, #154c94 0%, rgb(22, 129, 143) 100%);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    width: 110px;
    top: 0px;
    left: 0;
    bottom:0;
}

.background {
    position: absolute;
    border-radius: 15px;
    border-top-left-radius: 0px;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background: rgb(255, 255, 255);
}

button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 22px;
    left: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}

ul,
li {
    margin: 0;
    padding: 0;
    font-family: "Share Tech", sans-serif;
}

ul {
    padding: 25px;
    position: absolute;
    top: 70px;
    width: 230px;
}

li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-placeholder {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    flex: 40px 0;
    margin-right: 20px;
}

.text-placeholder {
    border-radius: 5px;
    width: 200px;
    height: 20px;
    flex: 1;
    justify-content: center;
    vertical-align: auto;
    text-align: center;
}

.refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span.emoji {
    font-size: 30px;
    vertical-align: middle;
    line-height: 2.35;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
a.nav-link {
    padding: 4px;
}

li p {
    color: black;
    padding: 0px 0px 10px 0px;
    margin: 0;
    position: relative;
    bottom: 4px;
}

.between-emoji {
    margin-bottom: 5px;
}
