// Override default variables before the import
$body-bg: #000;
$enable-gradients: true;

$colors: (
  "nav-color": rgba(13, 14, 13, 1),
  "header-color": rgba(40, 44, 52, 0.459),
  "lime-green-text": rgb(24, 71, 24),
  "navbar-emoji-bg": rgba(52, 58, 64, 1)
);

// Import Bootstrap and its default variables
// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.navbar {
    position: fixed;
    left: 2.5em;
    top: 33%;
    border-radius: 50px;
    background-color: color("nav-color");
    width: 100px;
    float: left;
    box-shadow: 0px 4px 16px 8px rgba(0, 93, 5, 0.2)
}

.navbar, .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: color("header-color");
    color: color("lime-green-text");
    font-family: 'Share Tech', sans-serif;
    margin: 0px;
}

span.emoji {
    font-size: 30px;
    vertical-align: middle;
    line-height: 2.35;
    height: 75px;
    width: 75px;
    background-color: color("navbar-emoji-bg");
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
a.nav-link {
    padding: 4px;
}

.between-emoji {
    margin-bottom: 5px;
}

